*{
    background-color: lightgrey;
    text-align: center;
    align-content: center;
}

button{
    background-color: green;
}

    
.female{
    text-align: left;
}

.male{
    text-align: right;
    
}

.ExplainPercent{
    text-align: center;
}

#HRmaxInputs{
    text-align: center;
}

.BMR{
    text-align: center;
}