*{
    background-color: lightgrey;
    text-align: center;
    align-items: center;
}

button{
    background-color: green;
}
form{
    background-color: blue;
}
    
.female{
    text-align: left;
}

.male{
    text-align: right;
    
}

.ExplainPercent{
    text-align: center;
}

#HRmaxInputs{
    text-align: center;
}
